.root {
    -fx-background-image: url("images/loginScreen2.png");
}

.default-input {
    -fx-border-radius: 4px;
    -fx-background-color: rgba(255, 255, 255, 0.5);
    -fx-border-color: #d5cb96;
    -fx-border-width: 1px;
}

.default-button {
    -fx-border-radius: 4px;
}

#sign-in {
    -fx-background-color: rgba(152, 53, 4, 0.8);
}

#sign-in:pressed, #sign-in:hover {
    -fx-background-color: rgba(152, 53, 4, 1);
}

#exit {
    -fx-background-color: rgba(229, 110, 0, 0.8);
}

#exit:pressed, #exit:hover {
    -fx-background-color: rgba(229, 110, 0, 1);
}